/data/
/models/
/tflite_model/
/tflite_model_v2/
/tflite_model_v3/
__pycache__/
*.pyc
.venv/
*.egg-info/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/captures/
android/.cxx/
